:root {
  --mdc-theme-primary: #424242;

  @media screen and (min-aspect-ratio: 2/1) {
    font-size: 140%;
  }
}

body {
    background-color: #f7f7f7;
    margin: 0;
}

.training {
    text-align: center;

    .flashcard {
        padding: 1em;
        margin: 1em;

        .card-text {
            padding: 1em;

            button {
                min-width: 0 !important;
                padding: 0.3em !important;
                touch-action: none;
            }
        }
    }

    .controls {
        button {
            margin-right: 1em;
        }
    }
}


.learning-set {

    .controls {
        margin: 1em;

        text-align: right;
        button {
            margin-left: 1em;
        }
    }

    .add-flashcard-button {
        position: fixed;
        bottom: 3vw;
        right: 3vw;
    }

    .drag-handle {
        cursor: move
    }

    .flashcard-controls {
        min-width: 8em;
    }
}


.settings {
    .mdc-text-field-helper-line {
        display: block
    }

    .voice .mdc-select__anchor {
        width: 350px;
    }
}

